@model IEnumerable<BarGanha.BLL.Models.Usuario>

@using BarGanha.BLL.Models

<div class="tabelas">

    <partial name="_Confirmacoes" />

    <div class="collection with-header">

        <div class="collection-item">

            <table class="striped highlight">
                <thead>
                    <tr>
                        <th>
                            Nome
                        </th>

                        <th>
                            CPF
                        </th>

                        <th>
                            Email
                        </th>

                        <th>
                            Telefone
                        </th>                        
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.UserName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CPF)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PhoneNumber)
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
