@model BarGanha.ViewModels.AtualizarViewModel

<!-- Start All Title Box -->
<div class="all-title-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>MEU PERFIL</h2>
            </div>
        </div>
    </div>
</div>
<!-- End All Title Box -->
<div class="container">
    <!-- Table -->
    <div class="row">
        <div class="col-xl-8 m-auto order-xl-1">
            <div class="card">
                <div class="card-body"> 
                    <form asp-action="Atualizar" enctype="multipart/form-data">
                        <h6 class="heading-small text-center text-muted mb-4" style="font-size:25px">Informações pessoais</h6>
                        <div class="pl-lg-4">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group focused">
                                        <label class="form-control-label" asp-for="Nome" id="Nome">Usuário</label>
                                        <input type="text" class="form-control form-control-alternative" placeholder="Usuário" asp-for="Nome">
                                        <span asp-validation-for="Nome" class="red-text text-darken-4"></span>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" asp-for="Email" id="Nome">Email</label>
                                        <input type="text" class="form-control form-control-alternative" placeholder="Email" asp-for="Email">
                                        <span asp-validation-for="Email" class="red-text text-darken-4"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group focused">
                                        <label class="form-control-label" asp-for="NomeCompleto" id="Nome">Nome</label>
                                        <input type="text" class="form-control form-control-alternative" placeholder="Nome" asp-for="NomeCompleto">
                                        <span asp-validation-for="NomeCompleto" class="red-text text-darken-4"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" asp-for="CPF" id="Nome">CPF</label>
                                        <input type="text" class="form-control form-control-alternative" placeholder="CPF" asp-for="CPF">
                                        <span asp-validation-for="CPF" class="red-text text-darken-4"></span>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" asp-for="Telefone" id="Nome">Telefone</label>
                                        <input type="text" class="form-control form-control-alternative" placeholder="Telefone" asp-for="Telefone">
                                        <span asp-validation-for="Telefone" class="red-text text-darken-4"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr class="">

                        <!-- Address -->
                        <h6 class="heading-small text-center text-muted mb-4" style="font-size: 25px">Endereço</h6>
                        <div class="pl-lg-4">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-control-label" asp-for="Logradouro" id="Nome">Logradouro</label>
                                        <input type="text" class="form-control form-control-alternative" placeholder="Logradouro" asp-for="Logradouro">
                                        <span asp-validation-for="Logradouro" class="red-text text-darken-4"></span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-control-label" asp-for="Bairro" id="Bairro">Bairro</label>
                                        <input type="text" class="form-control form-control-alternative" placeholder="Bairro" asp-for="Bairro">
                                        <span asp-validation-for="Bairro" class="red-text text-darken-4"></span>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label class="form-control-label" asp-for="Numero" id="Numero">Numero</label>
                                        <input type="number" class="form-control form-control-alternative" placeholder="Numero" asp-for="Numero">
                                        <span asp-validation-for="Numero" class="red-text text-darken-4"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" asp-for="Complemento" id="Complemento">Complemento</label>
                                        <input type="text" class="form-control form-control-alternative" placeholder="Complemento" asp-for="Complemento">
                                        <span asp-validation-for="Complemento" class="red-text text-darken-4"></span>
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" asp-for="CEP" id="CEP">CEP</label>
                                        <input type="text" class="form-control form-control-alternative" placeholder="CEP" asp-for="CEP">
                                        <span asp-validation-for="CEP" class="red-text text-darken-4"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" asp-for="Cidade" id="Cidade">Complemento</label>
                                        <input type="text" class="form-control form-control-alternative" placeholder="Cidade" asp-for="Cidade">
                                        <span asp-validation-for="Cidade" class="red-text text-darken-4"></span>
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" asp-for="Estado" id="Estado">Estado</label>
                                        @Html.DropDownListFor(m => m.Estado,
                                                                    new SelectList(ViewBag.estados),
                                                                    "Escolha o estado", new { @class = "form-control border border-black h4" })
                                        <span asp-validation-for="Estado" class="red-text text-darken-4"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="row justify-content-end">
                                <input type="submit" value="Editar Perfil" class="btn hvr-hover text-white mr-1 rounded" />
                                <a class="btn" style="background-color:#808080; color:#fff;" asp-controller="Home" asp-action="Index">Voltar</a>
                            </div>
                        </div>                        
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>