@model BarGanha.ViewModels.ProdutoViewModel
<!-- Start Top Search -->
<div class="top-search">
    <div class="container">
        <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-search"></i></span>
            <input type="text" class="form-control" placeholder="Search">
            <span class="input-group-addon close-search"><i class="fa fa-times"></i></span>
        </div>
    </div>
</div>
<!-- End Top Search -->
<!-- Start All Title Box -->
<div class="all-title-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>CADASTRAR PRODUTO</h2>
            </div>
        </div>
    </div>
</div>
<!-- End All Title Box -->
<div class="d-flex justify-content-center">
    <div class="card col-9">
        <div class="card-body">
            <form enctype="multipart/form-data" asp-action="Create">

                <div class="row">
                    <div class="form-group col-md-12">
                        <label asp-for="NomeProduto" class="control-label"></label>
                        <input asp-for="NomeProduto" class="form-control" />
                        <span asp-validation-for="NomeProduto" class="text-danger"></span>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-6">
                        <label asp-for="Preco" class="control-label"></label>
                        <input asp-for="Preco" class="form-control" />
                        <span asp-validation-for="Preco" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        @Html.LabelFor(m => m.CategoriaId, new { @class = "control-label" })
                        @Html.DropDownListFor(m => m.CategoriaId,
                                                        new SelectList(ViewBag.Categorias, "CategoriaId", "NomeCategoria"),
                                                        "Escolha a categoria", new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.CategoriaId, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-12">
                        <label asp-for="Descricao" class="control-label"></label>
                        <textarea rows="6" asp-for="Descricao" class="form-control"></textarea>
                        <span asp-validation-for="Descricao" class="text-danger"></span>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-12">
                        <label asp-for="ImagemProduto" class="control-label"></label>
                        <div class="custom-file">
                            <input asp-for="ImagemProduto" class="custom-file-input" id="customFile">
                        </div>
                        <span asp-validation-for="ImagemProduto" class="text-danger"></span>
                    </div>
                </div>



                <div class="form-group">
                    <input type="submit" value="Cadastrar Produto" class="btn" style="background-color:#09294c; color:#fff;" />
                    <a class="btn" style="background-color:#1d99ff; color:#fff;" asp-controller="Produtos" asp-action="Index">Voltar</a>
                </div>
            </form>
        </div>
    </div>
</div>