@model BarGanha.ViewModels.ProdutoViewModel

<!-- Start All Title Box -->
<div class="all-title-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>CADASTRAR PRODUTO</h2>
            </div>
        </div>
    </div>
</div>
<!-- End All Title Box -->

<div class="d-flex justify-content-center">
    <div class="card col-9" style="background: rgba(0, 53, 68, 0.1);">
        <div class="card-body">
            <form enctype="multipart/form-data" asp-action="Create">
                <div class="row">
                    <div class="form-group col-md-6">
                        <div class="justify-content-center">
                            <img id="blah" src="~/images/UploadImage.png" width="200px" height="200px" class="rounded mx-auto d-block" />

                            <input asp-for="ImagemProduto" class="custom-file-input" id="fileInput" style="display:none;" onchange="readURL(this);">
                            <input type="button"
                                   class="btn btn-primary btn-block mt-1"
                                   value="Enviar imagem"
                                   onclick="document.getElementById('fileInput').click();" />
                            <span asp-validation-for="ImagemProduto" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col-6">
                        <div class="form-group">
                            <label asp-for="NomeProduto" class="control-label"></label>
                            <input asp-for="NomeProduto" class="form-control" />
                            <span asp-validation-for="NomeProduto" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Preco" class="control-label"></label>
                            <input asp-for="Preco" class="form-control" />
                            <span asp-validation-for="Preco" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => m.CategoriaId, new { @class = "control-label" })
                            <select class="form-control" id="StudentGender" name="StudentGender">
                                <option>Select Gender</option>
                                <option>Male</option>
                                <option>Female</option>
                            </select>
                            @Html.DropDownListFor(m => m.CategoriaId,
                                                        new SelectList(ViewBag.Categorias, "CategoriaId", "NomeCategoria"),
                                                        "Escolha a categoria", new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.CategoriaId, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-12">
                        <label asp-for="Descricao" class="control-label"></label>
                        <textarea rows="6" asp-for="Descricao" class="form-control"></textarea>
                        <span asp-validation-for="Descricao" class="text-danger"></span>
                    </div>
                </div>

                <div class="row justify-content-end">
                    <input type="submit" value="Cadastrar Produto" class="btn hvr-hover text-white mr-1 rounded" />
                    <a class="btn" style="background-color:#808080; color:#fff;" asp-controller="Produtos" asp-action="MyProducts">Voltar</a>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#blah')
                    .attr('src', e.target.result)
                    .width(200)
                    .height(220);
            };

            reader.readAsDataURL(input.files[0]);
        }
    }
</script>