@{
    var meusProdutos = ViewBag.meusProdutos;
}

<!-- Start All Title Box -->
<div class="all-title-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>MEUS PRODUTOS</h2>
            </div>
        </div>
    </div>
</div>
<!-- End All Title Box -->

<div class="container">
    <div class="row">
        <div class="furniture-main">
            <h2>Meus Produtos</h2>
            <div class="col-md-9 col-sm-8 furniture-middle">
                <div class="row cat-pd">
                    @foreach (var produto in meusProdutos)
                    {
                        <div class="col-md-3 col-sm-4">
                            <div class="card">

                            </div>
                            <div class="small-box-d">
                                <div class="small-img-b">
                                    <img src="~/images/@produto.ImagemProduto" asp-append-version="true" />
                            </div>
                            <div class="dit-t clearfix">
                                <div class="left-ti">
                                    <h4>@produto.NomeProduto</h4>
                                </div>
                                <a style="background-color:#09294c; color:#fff;" asp-action="Details" asp-route-id="@produto.ProdutoId">Visualizar</a>
                            </div>
                            <div class="dit-t">
                                <div class="meio">
                                    <a style="background-color:#FFFFF0; color:#09294c;" asp-action="Edit" asp-route-id="@produto.ProdutoId">Editar</a>
                                    <a style="background-color:#ff0000; color:#fff;" asp-action="Delete" asp-route-id="@produto.ProdutoId">Excluir</a>
                                </div>
                            </div>
                        </div>
                    </div>

                }
                </div>
                <a class="btn" style="background-color:#09294c; color:#fff;" asp-controller="Produtos" asp-action="Create">Cadastrar Produto</a>
                <a class="btn" style="background-color:#1d99ff; color:#fff;" asp-controller="Produtos" asp-action="Index">Voltar</a>

            </div>
        </div>
    </div>
</div>