<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--enable mobile device-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--fontawesome css-->
    <link rel="stylesheet" href="~/css/font-awesome.min.css">
    <!--bootstrap css-->
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <!--animate css-->
    <link rel="stylesheet" href="~/css/animate-wow.css">
    <!--main css-->
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="~/css/slick.min.css">
    <!--responsive css-->
    <link rel="stylesheet" href="~/css/responsive.css">
    <title>BAR.GANHA - Ninguém fica sem!</title>
</head>
<body>
    <header id="header" class="top-head">
        <partial name="_Nav" /> 
    </header>

    @RenderBody()
    <hr/>

    <footer class="footer navbar-fixed-bottom">
        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <img width="120" src="~/images/logo.png" alt="#" /> Todos os direitos reservados.
                        Cleytech© 2020
                    </div>
                    <div class="col-md-4">
                        <ul class="list-inline socials">
                            <li>
                                <a href="">
                                    <i class="fa fa-facebook" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <i class="fa fa-twitter" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <i class="fa fa-instagram" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!--main js-->
    <script src="~/js/jquery-1.12.4.min.js"></script>
    <!--bootstrap js-->
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/bootstrap-select.min.js"></script>
    <script src="~/js/slick.min.js"></script>
    <script src="~/js/wow.min.js"></script>
    <!--custom js-->
    <script src="~/js/custom.js"></script>
</body>
</html>
