<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BAR.GANHA - Ninguém fica sem!</title>
    <environment include="Development">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="~/css/site.css" rel="stylesheet" />
    </environment>

    <environment exclude="Development">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="~/css/site.css" rel="stylesheet" />
    </environment>
</head>
<body>

    <div class="row">        
        <div >
            @if (User.Identity.IsAuthenticated)
            {
                <partial name="_Nav" />
            }

            <div class="conteudo-principal">
                <div class="body-content">
                    @RenderBody()
                    <hr />
                                      
                    <footer>
                        <div class="copyright">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-8">
                                        <img width="120" src="~/images/logo.png" alt="#" /> Todos os direitos reservados.
                                        Cleytech© 2020
                                    </div>
                                    <div class="col-md-4">
                                        <ul class="list-inline socials">
                                            <li>
                                                <a href="">
                                                    <i class="fa fa-facebook" aria-hidden="true"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="">
                                                    <i class="fa fa-twitter" aria-hidden="true"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="">
                                                    <i class="fa fa-instagram" aria-hidden="true"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </footer>

                </div>
            </div>
        </div>
    </div>

    <environment include="Development">
        <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.js"></script>
        <script src="~/js/InicializarTooltips.js"></script>
        <script>
            $(document).ready(function () {
                $('.sidenav').sidenav({});
            })
        </script>
        @RenderSection("Scripts", required: false)
    </environment>

    <environment exclude="Development">
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.min.js"></script>
        <script src="~/js/InicializarTooltips.js"></script>
        <script>
            $(document).ready(function () {
                $('.sidenav').sidenav({});
            })
        </script>
        @RenderSection("Scripts", required: false)
    </environment>
</body>
</html>
