@using Microsoft.AspNetCore.Identity
@using BarGanha.BLL.Models
@inject SignInManager<Usuario> SignInManager

<!-- Start Main Top -->
<header class="main-header">
    <!-- Start Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-default bootsnav">
        <div class="container">
            <!-- Start Header Navigation -->
            <div class="navbar-header">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-menu" aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-bars"></i>
                </button>

                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/images/logo3.svg" width="212" height="72" class="logo" alt="">
                </a>
            </div>
            <!-- End Header Navigation -->

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse justify-content-center" id="navbar-menu">
                <ul class="nav navbar-nav w-75" data-in="fadeInDown" data-out="fadeOutUp">
                    <li class="w-75">
                        <form class="form-inline mt-4" asp-controller="Produtos" asp-action="Index">
                            <input class="form-control" style="width: 80%" placeholder="Procure por um produto" type="text" name="SearchString" value="@ViewBag.searchString" />
                            <button class="btn btn-sm" type="submit" style="background-color: #d33b33; color: #fff;"> <i class="fas fa-search" value="Buscar"></i> </button>
                        </form>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Produtos" asp-action="Index">Produtos</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse 

            <!-- Start Atribute Navigation -->
            <div class="attr-nav">
                <ul>
                    <li class="side-menu">
                        <a href="#">
                            <i class="fas fa-shopping-bag"></i>
                            <span class="badge">3</span>
                        </a>
                    </li>

                    @if (SignInManager.IsSignedIn(User))
                    {
                        <li class="side-menu dropdown" style="cursor: pointer;">
                            <a class="nav-link dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-user"></i> <span class="mr-2">Minha Conta</span>
                            </a>
                            <div class="dropdown-menu" style="margin-top: -8px" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" style="cursor:pointer" onclick="location.href='@Url.Action("MinhaConta", "Home")'">
                                    Meu Perfil
                                </a>
                                <a class="dropdown-item" style="cursor:pointer" value="Meus Produtos" onclick="location.href='@Url.Action("MyProducts", "Produtos")'">
                                    Meus Produtos
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" style="margin-top: -10px; margin-left: -10px"><partial name="_Logout" /></a>
                            </div>

                        </li>
                    }
                    else
                    {
                        <li class="side-menu">
                            <a class="nav-link" asp-area="" asp-controller="Usuarios" asp-action="Login">
                                <i class="fas fa-user"></i> <span class="mr-2">Entrar</span>
                            </a>
                        </li>
                    }
                </ul>
            </div>
            <!-- End Atribute Navigation -->
        </div>
            <!-- Start Side Menu -->
            <div class="side">
                <a href="#" class="close-side"><i class="fas fa-times"></i></a>
                <li class="cart-box">
                    <ul class="cart-list">
                        <li>
                            <a href="#" class="photo"><img src="~/images/img-pro-01.jpg" class="cart-thumb" alt="" /></a>
                            <h6><a href="#">Delica omtantur </a></h6>
                            <p>1x - <span class="price">$80.00</span></p>
                        </li>
                        <li>
                            <a href="#" class="photo"><img src="~/images/img-pro-02.jpg" class="cart-thumb" alt="" /></a>
                            <h6><a href="#">Omnes ocurreret</a></h6>
                            <p>1x - <span class="price">$60.00</span></p>
                        </li>
                        <li>
                            <a href="#" class="photo"><img src="~/images/img-pro-03.jpg" class="cart-thumb" alt="" /></a>
                            <h6><a href="#">Agam facilisis</a></h6>
                            <p>1x - <span class="price">$40.00</span></p>
                        </li>
                        <li class="total">
                            <a href="#" class="btn btn-default hvr-hover btn-cart">
                                VER CARRINHO
                            </a>
                            <span class="float-right"><strong>Total</strong>: $180.00</span>
                        </li>
                    </ul>
                </li>
            </div>
            <!-- End Side Menu -->
        </nav>
        <!-- End Navigation -->
    </header>
    <!-- End Main Top -->
