@model BarGanha.ViewModels.SolicitacaoTrocaViewModel

<div class="terms-conditions product-page">
    <div class="terms-title">
        <div class="container">
            <ol class="breadcrumb">
                <li><a asp-area="" asp-controller="Produtos" asp-action="Index">Inicial </a></li>
                <li class="active">Cadastro de produto</li>
            </ol>
        </div>
    </div>
</div>
<div class="md-prod-page">
    <div class="md-prod-page-in">
        <div class="col-md-12">
            <div class="prod-page-title">
                <h2>Cadastro do produto</h2>

            </div>
        </div>
        <div class="col-md-10">
            <form enctype="multipart/form-data" asp-action="Create">
                <div class="form-group col-md-6">
                    <label asp-for="ProdutoId" class="control-label"></label>
                    <input asp-for="ProdutoId" class="form-control" />
                    <span asp-validation-for="ProdutoId" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="ProdutoOfertadoId" class="control-label"></label>
                    <input asp-for="ProdutoOfertadoId" class="form-control" />
                    <span asp-validation-for="ProdutoOfertadoId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Cadastrar Solicitaçao Troca" class="btn" style="background-color:#09294c; color:#fff;" />
                    <a class="btn" style="background-color:#1d99ff; color:#fff;" asp-controller="Produtos" asp-action="Index">Voltar</a>
                </div>
            </form>
        </div>
    </div>
</div>
