<div class="main-template-about">
    <div class="section-gradient">
        <div class="map"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="wow fadeIn" data-wow-delay="0.0s">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section do">
        <div class="blue-light"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="does-box">
                        <div class="panel-body">
                            <h2>SOBRE NÓS</h2>
                            <h3>Motivos para se tornar o rei das trocas!</h3>
                            <br />
                            <p>
                                Além de ressignificar a sua relação com as coisas da sua região ou até mesmo do mundo, trocar energias e fazer trocas incríveis!<br />
                                Barganha é ideal para<br />
                                Você que tem algo parado em casa
                            </p>

                            <h3>Como funciona essa barganha?</h3>
                            <br />
                            <p>
                                Somos uma comunidade de pessoas que querem trocar objetos e serviços por outros objetos e outros tipos de serviço.<br />
                                Primeiro crie a sua conta em nosso site.<br />
                                Cadastre o seu objeto para troca ou o tipo de serviço no seu perfil<br />
                                Depois de cadastrado, é só esperar pelas mensagens de outros usuários para vocês poderem combinar a barganha.
                            </p>

                            <h3>O que é preciso para ser um membro?</h3>
                            <br /> 
                            <p>
                                - Cadastro no facebook<br />
                                - CPF<br />
                                - E não pagar por nada! A nossa plataforma é 100% gratuita.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>