 <div class="furniture-box">
         <div class="terms-title">
            <div class="container">
               <div class="row">
                  <ol class="breadcrumb">
                     <li><a asp-area="" asp-controller="Home" asp-action="Index">Inicial </a></li>
                     <li class="active">Móveis</li>
                  </ol>
               </div>
            </div>
         </div>
      </div>
      <div class="furniture-box">
         <div class="container">
            <div class="row">
               <div class="furniture-main">
                  <h2>Produtos</h2>
                  <div class="col-md-3 col-sm-4">
                     <div class="furniture-left">
                        <h3>Filtro de produtos</h3>
                        <div class="by-box">
                           <h5>Por preço</h5>
                           <div id="slider-range"></div>
                           <p>
                              <input type="text" id="amount" readonly style="">
                           </p>
                        </div>
                        <div class="by-com">
                           <h5>Por marca</h5>
                           <div class="list-b">
                              <div id="boxscroll">
                                 <div class="form-check">
                                    <input id="checkbox1" class="filled-in chk-col-blue" type="checkbox">
                                    <label for="checkbox1">
                                    Adana Cimento
                                    </label>
                                 </div>
                                 <div class="form-check">
                                    <input id="checkbox2" class="filled-in chk-col-blue" type="checkbox">
                                    <label for="checkbox2">
                                    Akbank
                                    </label>
                                 </div>
                                 <div class="form-check">
                                    <input id="checkbox3" class="filled-in chk-col-blue" type="checkbox">
                                    <label for="checkbox3">
                                    Alvimedica
                                    </label>
                                 </div>
                                 <div class="form-check">
                                    <input id="checkbox4" class="filled-in chk-col-blue" type="checkbox">
                                    <label for="checkbox4">
                                    Arcelik
                                    </label>
                                 </div>
                                 <div class="form-check">
                                    <input id="checkbox5" class="filled-in chk-col-blue" type="checkbox">
                                    <label for="checkbox5">
                                    Askam
                                    </label>
                                 </div>
                                 <div class="form-check">
                                    <input id="checkbox6" class="filled-in chk-col-blue" type="checkbox">
                                    <label for="checkbox6">
                                    Salcano
                                    </label>
                                 </div>
                                 <div class="form-check">
                                    <input id="checkbox7" class="filled-in chk-col-blue" type="checkbox">
                                    <label for="checkbox7">
                                    Sedona
                                    </label>
                                 </div>
                                 <div class="form-check">
                                    <input id="checkbox8" class="filled-in chk-col-blue" type="checkbox">
                                    <label for="checkbox8">
                                    Sisecam
                                    </label>
                                 </div>
                                 <div class="form-check">
                                    <input id="checkbox9" class="filled-in chk-col-blue" type="checkbox">
                                    <label for="checkbox9">
                                    Su Marine Yachts
                                    </label>
                                 </div>
                                 <div class="form-check">
                                    <input id="checkbox10" class="filled-in chk-col-blue" type="checkbox">
                                    <label for="checkbox10">
                                    Beko
                                    </label>
                                 </div>
                                 <div class="form-check">
                                    <input id="checkbox11" class="filled-in chk-col-blue" type="checkbox">
                                    <label for="checkbox11">
                                    Kale Celik Esya
                                    </label>
                                 </div>
                                 <div class="form-check">
                                    <input id="checkbox12" class="filled-in chk-col-blue" type="checkbox">
                                    <label for="checkbox12">
                                    Default
                                    </label>
                                 </div>
                                 <div class="form-check">
                                    <input id="checkbox13" class="filled-in chk-col-blue" type="checkbox">
                                    <label for="checkbox13">
                                    Default
                                    </label>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="left-list-f">
                           <div class="panel-group" id="accordion">
                              <div class="panel panel-default">
                                  <div class="panel-heading">
                                      <div class="right-arrow pull-right">
                                          <h4 data-toggle="collapse" data-parent="#accordion" href="#collapse1" class="panel-title expand">
                                              <span class="caret"></span>
                                              <a href="#">Ordenar</a>
                                          </h4>
                                      </div>
                                 </div>
                                      <div id="collapse1" class="panel-collapse collapse">
                                          <div class="panel-body">Nome</div>
                                          <div class="panel-body">Preço</div>
                                          <div class="panel-body">Alta avaliação</div>
                                          <div class="panel-body">Baixa avaliação</div>
                                      </div>
                                  </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-6 col-sm-8">
                     <div class="furniture-middle">
                        <div class="big-box">
                           <div class="big-img-box">
                              <img src="images/lag-60.png" alt="#" />
                           </div>
                           <div class="big-dit-b clearfix">
                              <div class="col-md-6">
                                 <div class="left-big">
                                    <h3>Etiam sit amet urna semper, auctor arcu id</h3>
                                    <p>Por <span>Kale Celik Esya</span> em <span>Cadeiras</span></p>
                                    <div class="prod-btn">
                                       <a href="#"><i class="fa fa-star" aria-hidden="true"></i> Salvar nos favoritos</a>
                                       <a href="#"><i class="fa fa-thumbs-up" aria-hidden="true"></i> Curtir</a>
                                       <p>23 curtidas</p>
                                    </div>
                                 </div>
                              </div>
                              <div class="col-md-6">
                                 <div class="right-big-b">
                                    <div class="tight-btn-b clearfix">
                                       <a class="view-btn" href="#">Visualizar</a>
                                       <a href="#">R$320</a>
                                    </div>
                                    <div class="like-list">
                                       <ul>
                                          <li>
                                             <div class="im-b"><img class="" src="images/list-img-01.png" alt="" /></div>
                                          </li>
                                          <li>
                                             <div class="im-b"><img src="images/list-img-02.png" alt="" /></div>
                                          </li>
                                          <li>
                                             <div class="im-b"><img src="images/list-img-03.png" alt="" /></div>
                                          </li>
                                          <li>
                                             <div class="im-b"><img src="images/list-img-04.png" alt="" /></div>
                                          </li>
                                          <li>
                                             <div class="im-b"><img src="images/list-img-05.png" alt="" /></div>
                                          </li>
                                          <li>
                                             <div class="im-b"><img src="images/list-img-06.png" alt="" /></div>
                                          </li>
                                          <li>
                                             <div class="im-b"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></div>
                                          </li>
                                       </ul>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="row cat-pd">
                           <div class="col-md-6 col-sm-6">
                              <div class="small-box-c">
                                 <div class="small-img-b">
                                    <img src="images/tr1.png" alt="#" />
                                 </div>
                                 <div class="dit-t clearfix">
                                    <div class="left-ti">
                                       <h4>Mesa e cadeiras de carvalho negro</h4>
                                       <p>Por <span>Beko</span> em <span>Luzes</span></p>
                                    </div>
                                    <a href="#" tabindex="0">R$1710</a>
                                 </div>
                                 <div class="prod-btn">
                                    <a href="#"><i class="fa fa-star" aria-hidden="true"></i> Salvar nos favoritos</a>
                                    <a href="#"><i class="fa fa-thumbs-up" aria-hidden="true"></i> Curtir</a>
                                    <p>12 curtidas</p>
                                 </div>
                              </div>
                           </div>
                           <div class="col-md-6 col-sm-6">
                              <div class="small-box-c">
                                 <div class="small-img-b">
                                    <img src="images/tr2.png" alt="#" />
                                 </div>
                                 <div class="dit-t clearfix">
                                    <div class="left-ti">
                                       <h4>Mesa de centro geométrica branca</h4>
                                       <p>Por <span>Beko</span> em <span>Cadeiras</span></p>
                                    </div>
                                    <a href="#" tabindex="0">R$1220</a>
                                 </div>
                                 <div class="prod-btn">
                                    <a href="#"><i class="fa fa-star" aria-hidden="true"></i> Salvar nos favoritos</a>
                                    <a href="#"><i class="fa fa-thumbs-up" aria-hidden="true"></i> Curtir</a>
                                    <p>53 curtidas</p>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="big-box">
                           <div class="big-img-box">
                              <img src="images/lag-61.png" alt="" />
                           </div>
                           <div class="big-dit-b clearfix">
                              <div class="col-md-6">
                                 <div class="left-big">
                                    <h3>Conceito de casa aberta</h3>
                                    <p>Por <span>Kale Celik Esya</span> em <span>Cadeiras</span></p>
                                    <div class="prod-btn">
                                       <a href="#"><i class="fa fa-star" aria-hidden="true"></i> Salvar nos favoritos</a>
                                       <a href="#"><i class="fa fa-thumbs-up" aria-hidden="true"></i> Curtir</a>
                                       <p>99 curtidas</p>
                                    </div>
                                 </div>
                              </div>
                              <div class="col-md-6">
                                 <div class="right-big-b">
                                    <div class="tight-btn-b clearfix">
                                       <a class="view-btn" href="#">View</a>
                                       <a href="#">R$320</a>
                                    </div>
                                    <div class="like-list">
                                       <ul>
                                          <li>
                                             <div class="im-b"><img class="" src="images/list-img-01.png" alt="" /></div>
                                          </li>
                                          <li>
                                             <div class="im-b"><img src="images/list-img-02.png" alt="" /></div>
                                          </li>
                                          <li>
                                             <div class="im-b"><img src="images/list-img-03.png" alt="" /></div>
                                          </li>
                                          <li>
                                             <div class="im-b"><img src="images/list-img-04.png" alt="" /></div>
                                          </li>
                                          <li>
                                             <div class="im-b"><img src="images/list-img-05.png" alt="" /></div>
                                          </li>
                                          <li>
                                             <div class="im-b"><img src="images/list-img-06.png" alt="" /></div>
                                          </li>
                                          <li>
                                             <div class="im-b"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></div>
                                          </li>
                                       </ul>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="row cat-pd">
                           <div class="col-md-6 col-sm-6">
                              <div class="small-box-c">
                                 <div class="small-img-b">
                                    <img src="images/tr3.png" alt="#" />
                                 </div>
                                 <div class="dit-t clearfix">
                                    <div class="left-ti">
                                       <h4>Cadeira de encosto bege para sala de estar</h4>
                                       <p>By <span>Beko</span> under <span>Luzes</span></p>
                                    </div>
                                    <a href="#" tabindex="0">R$1400</a>
                                 </div>
                                 <div class="prod-btn">
                                    <a href="#"><i class="fa fa-star" aria-hidden="true"></i> Salvar nos favoritos</a>
                                    <a href="#"><i class="fa fa-thumbs-up" aria-hidden="true"></i> Curtir</a>
                                    <p>73 curtidas</p>
                                 </div>
                              </div>
                           </div>
                           <div class="col-md-6 col-sm-6">
                              <div class="small-box-c">
                                 <div class="small-img-b">
                                    <img src="images/tr4.png" alt="#" />
                                 </div>
                                 <div class="dit-t clearfix">
                                    <div class="left-ti">
                                       <h4>Conjunto de sofás em veludo preto</h4>
                                       <p>Por <span>Beko</span> em <span>Cadeiras</span></p>
                                    </div>
                                    <a href="#" tabindex="0">R$1000</a>
                                 </div>
                                 <div class="prod-btn">
                                    <a href="#"><i class="fa fa-star" aria-hidden="true"></i> Salvar nos favoritos</a>
                                    <a href="#"><i class="fa fa-thumbs-up" aria-hidden="true"></i> Curtir</a>
                                    <p>42 curtidas</p>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-3 hidden-xs">
                     <div class="furniture-right">

                        <h3>Categorias</h3>
                        <div class="right-list-f">
                           <ul>
                              <li><a href="#"><img width="32" src="images/product/1.png" alt="#" /> Cadeiras</a></li>
                              <li><a href="#"><img width="32" src="images/product/2.png" alt="#" /> Cadeiras de escritório</a></li>
                              <li><a href="#"><img width="32" src="images/product/1.png" alt="" /> Cadeiras especiais</a></li>
                              <li><a href="#"><img width="32" src="images/product/4.png" alt="" /> Sala de estar</a></li>
                              <li><a href="#"><img width="32" src="images/product/5.png" alt="" /> Móveis para quartos</a></li>
                              <li><a href="#"><img width="32" src="images/product/2.png" alt="" /> Móveis para TV</a></li>
                              <li><a href="#"><img width="32" src="images/product/11.png" alt="" /> Cadeiras gamer</a></li>
                              <li><a href="#"><img width="32" src="images/product/10.png" alt="" /> Luzes especiais </a></li>
                              <li><a href="#"><img width="32" src="images/product/4.png" alt="" /> Escritório doméstico</a></li>
                              <li><a href="#"><img width="32" src="images/product/10.png" alt="" /> Móveis infantis</a></li>
                              <li><a href="#"><img width="32" src="images/product/11.png" alt="" /> Acessórios</a></li>
                              <li><a href="#"><img width="32" src="images/product/11.png" alt="" /> Outros</a></li>

                           </ul>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
     
      <script>
         $( function() {
         	$( "#slider-range" ).slider({
         		range: true,
         		min: 0,
         		max: 2000,
         		values: [ 158, 1230 ],
         		slide: function( event, ui ) {
         			$( "#amount" ).val( "$" + ui.values[ 0 ] + " - $" + ui.values[ 1 ] );
         		}
         	});
         	$( "#amount" ).val( "$" + $( "#slider-range" ).slider( "values", 0 ) +
         		" - $" + $( "#slider-range" ).slider( "values", 1 ) );
         } );
      </script>
      <script src="js/jquery.nicescroll.min.js"></script> 
      <script>
         $(document).ready(function() {
           $("#boxscroll").niceScroll({cursorborder:"",cursorcolor:"#ededed",boxzoom:true}); // First scrollable DIV
         });
      </script>  