<!-- Start Slider -->
<div id="slides-shop" class="cover-slides">
    <ul class="slides-container">
        <li class="text-left">
            <img src="~/images/banner-slider/banner-01.jpg" alt="">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="m-b-20"><strong>BarGanha<br> Aqui ninguém fica sem!</strong></h1>
                        <p class="m-b-40 font-weight-bold" style="font-size:40px">Crie uma conta agora! <br>E comece a trocar centenas de produtos com outros usuarios!</p>
                        <p><a class="btn hvr-hover" onclick="location.href='@Url.Action("Registro", "Usuarios")'">Criar uma conta</a></p>
                    </div>
                </div>
            </div>
        </li>
        <li class="text-center">
            <img src="~/images/banner-slider/banner-02.jpg" alt="">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="m-b-20"><strong>BarGanha<br> Aqui Ninguém fica sem!</strong></h1>
                        <p class="m-b-40 font-weight-bold" style="font-size:40px">Crie uma conta agora! <br>E comece a trocar centenas de produtos com outros usuarios!</p>
                        <p><a class="btn hvr-hover" onclick="location.href='@Url.Action("Registro", "Usuarios")'">Criar uma conta</a></p>
                    </div>
                </div>
            </div>
        </li>
        <li class="text-right">
            <img src="~/images/banner-slider/banner-03.jpg" alt="">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="m-b-20"><strong>BarGanha<br> Aqui ninguém fica sem!</strong></h1>
                        <p class="m-b-40 font-weight-bold" style="font-size:40px">Crie uma conta agora! <br>E comece a trocar centenas de produtos com outros usuarios!</p>
                        <p><a class="btn hvr-hover" onclick="location.href='@Url.Action("Registro", "Usuarios")'">Criar uma conta</a></p>
                    </div>
                </div>
            </div>
        </li>
    </ul>
    <div class="slides-navigation">
        <a href="#" class="next"><i class="fas fa-angle-right" aria-hidden="true"></i></a>
        <a href="#" class="prev"><i class="fas fa-angle-left" aria-hidden="true"></i></a>
    </div>
</div>
<!-- End Slider -->
<!-- Start Products  -->
<div class="products-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="title-all text-center">
                    <h1>Produtos em Destaque</h1>
                    <p>Veja o que esta quente na BarGanha nesse exato momento!</p>
                </div>
            </div>
        </div>
        <div class="row special-list">
            <div class="col-lg-3 col-md-6 special-grid best-seller">
                <div class="products-single fix">
                    <div class="box-img-hover">
                        <div class="type-lb">
                            <p class="sale">MAIS OFERTADO</p>
                        </div>
                        <img src="~/images/destaques/1.png" class="img-fluid" alt="Image">
                        <div class="mask-icon">
                            <ul>
                                <li><a href="#" data-toggle="tooltip" data-placement="right" title="Ver"><i class="fas fa-eye"></i></a></li>
                                <li><a href="#" data-toggle="tooltip" data-placement="right" title="Comparar"><i class="fas fa-sync-alt"></i></a></li>
                                <li><a href="#" data-toggle="tooltip" data-placement="right" title="Adicionar para Lista de Desejos"><i class="fas fa-heart"></i></a></li>
                            </ul>
                            <a class="cart" href="#">Fazer uma oferta</a>
                        </div>
                    </div>
                    <div class="why-text">
                        <h4>Espelho Vintage Moldura Barroco</h4>
                    </div>
                </div>
            </div>
            <!-- Start Individual Products -->
            <div class="col-lg-3 col-md-6 special-grid top-featured">
                <div class="products-single fix">
                    <div class="box-img-hover">
                        <div class="type-lb">
                            <p class="new">EM ALTA</p>
                        </div>
                        <img src="~/images/destaques/2.png" class="img-fluid" alt="Image">
                        <div class="mask-icon">
                            <ul>
                                <li><a href="#" data-toggle="tooltip" data-placement="right" title="Ver"><i class="fas fa-eye"></i></a></li>
                                <li><a href="#" data-toggle="tooltip" data-placement="right" title="Comparar"><i class="fas fa-sync-alt"></i></a></li>
                                <li><a href="#" data-toggle="tooltip" data-placement="right" title="Adicionar para Lista de Desejos"><i class="fas fa-heart"></i></a></li>
                            </ul>
                            <a class="cart" href="#">Fazer uma oferta</a>
                        </div>
                    </div>
                    <div class="why-text">
                        <h4>Bandeja de Vidro Pintado Floral</h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 special-grid top-featured">
                <div class="products-single fix">
                    <div class="box-img-hover">
                        <div class="type-lb">
                            <p class="new">EM ALTA</p>
                        </div>
                        <img src="~/images/destaques/3.png" class="img-fluid" alt="Image">
                        <div class="mask-icon">
                            <ul>
                                <li><a href="#" data-toggle="tooltip" data-placement="right" title="Ver"><i class="fas fa-eye"></i></a></li>
                                <li><a href="#" data-toggle="tooltip" data-placement="right" title="Comparar"><i class="fas fa-sync-alt"></i></a></li>
                                <li><a href="#" data-toggle="tooltip" data-placement="right" title="Adicionar para Lista de Desejos"><i class="fas fa-heart"></i></a></li>
                            </ul>
                            <a class="cart" href="#">Fazer uma oferta</a>
                        </div>
                    </div>
                    <div class="why-text">
                        <h4>Bandeja de Prata Ornada</h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 special-grid best-seller">
                <div class="products-single fix">
                    <div class="box-img-hover">
                        <div class="type-lb">
                            <p class="sale">MAIS OFERTADO</p>
                        </div>
                        <img src="~/images/destaques/4.png" class="img-fluid" alt="Image">
                        <div class="mask-icon">
                            <ul>
                                <li><a href="#" data-toggle="tooltip" data-placement="right" title="Ver"><i class="fas fa-eye"></i></a></li>
                                <li><a href="#" data-toggle="tooltip" data-placement="right" title="Comparar"><i class="fas fa-sync-alt"></i></a></li>
                                <li><a href="#" data-toggle="tooltip" data-placement="right" title="Adicionar para Lista de Desejos"><i class="fas fa-heart"></i></a></li>
                            </ul>
                            <a class="cart" href="#">Fazer uma oferta</a>
                        </div>
                    </div>
                    <div class="why-text">
                        <h4>Cabeça de Pelucia Mickey</h4>
                    </div>
                </div>
            </div>
            <!-- End Individual Products -->
        </div>
    </div>
</div>
<!-- End Products  -->
    
<!-- Start Categories  -->
<div class="categories-shop">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="shop-cat-box">
                    <img src="~/images/6-itens/1.jpg" height="220px" alt="" />
                    <form class="row" asp-controller="Produtos" asp-action="Index">
                        <input style="display:none" name="categoria" value="5" />
                        <button class="btn hvr-hover" style="width:100%; color:#ffffff" type="submit"> Veiculos</button>
                    </form>
                </div>

                <div class="shop-cat-box">
                    <img src="~/images/6-itens/2.jpg" height="220px" alt="" />
                    <form class="row" asp-controller="Produtos" asp-action="Index">
                        <input style="display:none" name="categoria" value="1" />
                        <button class="btn hvr-hover" style="width:100%; color:#ffffff" type="submit"> Móveis</button>
                    </form>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="shop-cat-box">
                    <img src="~/images/6-itens/3.jpg" height="220px" alt="" />
                    <form class="row" asp-controller="Produtos" asp-action="Index">
                        <input style="display:none" name="categoria" value="3" />
                        <button class="btn hvr-hover" style="width:100%; color:#ffffff" type="submit"> Eletrodomésticos</button>
                    </form>
                </div>
                <div class="shop-cat-box">
                    <img src="~/images/6-itens/4.jpg" height="220px" alt="" />
                    <form class="row" asp-controller="Produtos" asp-action="Index">
                        <input style="display:none" name="categoria" value="2" />
                        <button class="btn hvr-hover" style="width:100%; color:#ffffff" type="submit"> Eletrônicos</button>
                    </form>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="shop-cat-box">
                    <img src="~/images/6-itens/5.jpg" height="220px" alt="" />
                    <form class="row" asp-controller="Produtos" asp-action="Index">
                        <input style="display:none" name="categoria" value="4" />
                        <button class="btn hvr-hover" style="width:100%; color:#ffffff" type="submit"> Vestuários</button>
                    </form>
                </div>

                <div class="shop-cat-box">
                    <img src="~/images/6-itens/6.jpg" height="220px" alt="" />
                    <form class="row" style="margin-bottom:-3px" asp-controller="Produtos" asp-action="Index">
                        <input style="display:none" name="categoria" value="6" />
                        <button class="btn hvr-hover" style="width:100%; color:#ffffff" type="submit"> Outros</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Categories -->