    <div class="profile-box banner-p">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="profile-b">
                     <img src="images/lag-63.png" alt="#" />
                     <div class="dit-p">
                        <div class="col-md-2"></div>
                        <div class="col-md-10">
                           <div class="profile-left-b">
                              <ul>
                                 <li><a href="#">Desde 2020</a></li>
                                 <li><a href="#">321 produtos já publicados</a></li>
                              </ul>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="product-profile-box">
         <div class="container">
            <div class="row">
               <div class="col-md-2 col-sm-4 pr">
                  <div class="profile-pro-left">
                     <div class="left-profile-box-m">
                        <div class="pro-img">
                           <img src="images/150x150.png" alt="#" />
                        </div>
                        <div class="pof-text">
                           <h3>Nome do usuário</h3>
                           <div class="check-box"></div>
                        </div>
                        <a href="#">Entrar em contato</a>
                     </div>
                  </div>
               </div>
               <div class="col-md-10 col-sm-8">
                  <div class="profile-pro-right">
                     <div class="panel with-nav-tabs panel-default">
                        <div class="panel-heading clearfix">
                           <ul class="nav nav-tabs pull-left">
                              <li class="active"><a href="#tab1default" data-toggle="tab">Produtos <span>321</span></a></li>
                              <li><a href="#tab2default" data-toggle="tab">Sobre</a></li>
                              <li><a href="#tab3default" data-toggle="tab">Contato</a></li>
                           </ul>
                           
                        </div>
                        <div class="panel-body">
                           <div class="tab-content">
                               
                              
                               
                              <div class="tab-pane fade in active" id="tab1default">
                                 <div class="product-box-main row">
                                    <div class="col-md-4 col-sm-6">
                                       <div class="small-box-c">
                                          <div class="small-img-b">
                                             <img src="images/tr1.png" alt="#" />
                                          </div>
                                          <div class="dit-t clearfix">
                                             <div class="left-ti">
                                                <h4>Product</h4>
                                                <p>Under <span>Sofa Corner</span></p>
                                             </div>
                                             <a href="#" tabindex="0">$1220</a>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6">
                                       <div class="small-box-c">
                                          <div class="small-img-b">
                                             <img src="images/tr2.png" alt="#" />
                                          </div>
                                          <div class="dit-t clearfix">
                                             <div class="left-ti">
                                                <h4>Product</h4>
                                                <p>Under <span>Sofa Corner</span></p>
                                             </div>
                                             <a href="#" tabindex="0">$1220</a>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6">
                                       <div class="small-box-c">
                                          <div class="small-img-b">
                                             <img src="images/tr3.png" alt="#" />
                                          </div>
                                          <div class="dit-t clearfix">
                                             <div class="left-ti">
                                                <h4>Product</h4>
                                                <p>Under <span>Sofa Corner</span></p>
                                             </div>
                                             <a href="#" tabindex="0">$1220</a>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6">
                                       <div class="small-box-c">
                                          <div class="small-img-b">
                                             <img src="images/tr4.png" alt="#" />
                                          </div>
                                          <div class="dit-t clearfix">
                                             <div class="left-ti">
                                                <h4>Product</h4>
                                                <p>Under <span>Sofa Corner</span></p>
                                             </div>
                                             <a href="#" tabindex="0">$1220</a>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6">
                                       <div class="small-box-c">
                                          <div class="small-img-b">
                                             <img src="images/tr1.png" alt="#" />
                                          </div>
                                          <div class="dit-t clearfix">
                                             <div class="left-ti">
                                                <h4>Product</h4>
                                                <p>Under <span>Sofa Corner</span></p>
                                             </div>
                                             <a href="#" tabindex="0">$1220</a>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6">
                                       <div class="small-box-c">
                                          <div class="small-img-b">
                                             <img src="images/tr2.png" alt="#" />
                                          </div>
                                          <div class="dit-t clearfix">
                                             <div class="left-ti">
                                                <h4>Product</h4>
                                                <p>Under <span>Sofa Corner</span></p>
                                             </div>
                                             <a href="#" tabindex="0">$1220</a>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6">
                                       <div class="small-box-c">
                                          <div class="small-img-b">
                                             <img src="images/tr3.png" alt="#" />
                                          </div>
                                          <div class="dit-t clearfix">
                                             <div class="left-ti">
                                                <h4>Product</h4>
                                                <p>Under <span>Sofa Corner</span></p>
                                             </div>
                                             <a href="#" tabindex="0">$1220</a>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6">
                                       <div class="small-box-c">
                                          <div class="small-img-b">
                                             <img src="images/tr4.png" alt="#" />
                                          </div>
                                          <div class="dit-t clearfix">
                                             <div class="left-ti">
                                                <h4>Product</h4>
                                                <p>Under <span>Sofa Corner</span></p>
                                             </div>
                                             <a href="#" tabindex="0">$1220</a>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6">
                                       <div class="small-box-c">
                                          <div class="small-img-b">
                                             <img src="images/tr1.png" alt="#" />
                                          </div>
                                          <div class="dit-t clearfix">
                                             <div class="left-ti">
                                                <h4>Product</h4>
                                                <p>Under <span>Sofa Corner</span></p>
                                             </div>
                                             <a href="#" tabindex="0">$1220</a>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6">
                                       <div class="small-box-c">
                                          <div class="small-img-b">
                                             <img src="images/tr2.png" alt="#" />
                                          </div>
                                          <div class="dit-t clearfix">
                                             <div class="left-ti">
                                                <h4>Product</h4>
                                                <p>Under <span>Sofa Corner</span></p>
                                             </div>
                                             <a href="#" tabindex="0">$1220</a>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6">
                                       <div class="small-box-c">
                                          <div class="small-img-b">
                                             <img src="images/tr3.png" alt="#" />
                                          </div>
                                          <div class="dit-t clearfix">
                                             <div class="left-ti">
                                                <h4>Product</h4>
                                                <p>Under <span>Sofa Corner</span></p>
                                             </div>
                                             <a href="#" tabindex="0">$1220</a>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6">
                                       <div class="small-box-c">
                                          <div class="small-img-b">
                                             <img src="images/tr4.png" alt="#" />
                                          </div>
                                          <div class="dit-t clearfix">
                                             <div class="left-ti">
                                                <h4>Product</h4>
                                                <p>Under <span>Sofa Corner</span></p>
                                             </div>
                                             <a href="#" tabindex="0">$1220</a>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                               <div class="tab-pane fade in active" id="tab1default">
                                 <div class="about-box">
                                    <h2>Conheça nossos produtos</h2>
                                    <p>Aqui na Bar.Ganha nos temos todos os tipos de mesas, cadeiras, sofas, camas, prateleiras, estantes e todo tipo de decoração para armonizar a sua casa e tudo por um preço muito acessível!</p>
                                    <p>Tá esperando o que ? Clica logo no botão abaixo e vem conhecer todos os nossos móveis e decorações !</p>
                                 </div>
                                 <div class="price-box-right a">
                                    <a asp-area="" asp-controller="Home" asp-action="Category">Produtos</a>
                                 </div>
                              </div>
                               
                              <div class="tab-pane fade" id="tab2default">
                                 <div class="about-box">
                                    <h2>Quem sou eu?</h2>
                                    <p>Descrição do usuário
                                 </div>
                              </div>
                              <div class="tab-pane fade" id="tab3default">Default 53</div>
                              <div class="tab-pane fade" id="tab4default">Default rrrrrr4</div>
                              <div class="tab-pane fade" id="tab5default">Default 5</div>
                           </div>
                        </div> 
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>