<!-- Start All Title Box -->
<div class="all-title-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>SOBRE NÓS</h2>
            </div>
        </div>
    </div>
</div>
<!-- End All Title Box -->

<!-- Start About Page  -->
<div class="about-box-main">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h2 class="noo-sh-title">Conheça o <span>Bar.Ganha</span></h2>
                <p>
                    Somos a BarGanha, um site especializado em trocas de pessoas para pessoas! Voce pode anunciar e barganhar em todos os tipos de produtos, basta ele estar anunciado!
                </p>
            </div>
            <div class="col-lg-6">
                <div class="banner-frame"> <img class="img-thumbnail img-fluid" heigth="800" width="800" src="~/images/about-img.png" alt="" />
                </div>
            </div>
        </div>
        <div class="row my-5">
            <div class="col-sm-6 col-lg-6">
                <div class="service-block-inner">
                    <h3>Somos confiaveis</h3>
                    <p>Estamos localizados em Belo Horizonte, de onde organizamos tudo, mas enviamos nossos produtos para atender aos clientes localizados em todas as regiões do pais. </p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-6">
                <div class="service-block-inner">
                    <h3>Somos Profissionais</h3>
                    <p>Nossa equipe, inclui os melhores desenvolvedores e especialistas em tecnologia para te fornecer o melhor ervico possivel, são especialistas que fazem de tudo para desenvolver e aprimorar a sua experiencia. </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End About Page -->